.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;

  input {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    width: 220px;
    outline: none;
  }

  button {
    background-color: #4caf50;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #45a049;
    }
  }
}
