.app {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  color: #333;
  padding: 2rem;

  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
